
.sw-prompt {
	margin-left: 20px; 
}
.sw-score {
  margin-left: 28px; 
}
.sw-starting-letter {
	font-size: 48px;
	margin-left: 30px;
}

.sw-timer {
	position: fixed;
	right: 20px;
	top: 0;
}

.sw-categories {
	width: 80%;
	margin: auto;
}
