html {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: Roboto, Arial, sans-serif;
  font-size: 48px;
	cursor: default;
}

div {
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.banner {
	width: 100%;
	height: 100%;
	min-height: 1000px;
	top: 0; 
	left: 0; 
	position: absolute;
	z-index: 1000;
	text-align: center;
	font-size: 64pt;
}

.banner-button {
	width: 240px;
	height: 60px;
	margin: 40px auto;
	font-size: 24px;
	line-height: 60px;
	background-color: black;
	border: 3px solid white;
	border-radius: 8px;
	cursor: pointer;
}

.avatar {
	width: 24px;
	height: 24px;
	border-radius: 1000px;
}

.md-sidenav-left {
	width: 160px;
	text-align: center;
}

.dbg-nav-option {
	width: 128px;
}
